# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://<your Postgres username>:<your DB password>@127.0.0.1:5432/next-js-dashboard"
POSTGRES_PRISMA_URL="postgres://<your Postgres username>:<your DB password>@127.0.0.1:5432/next-js-dashboard"
POSTGRES_URL_NON_POOLING="postgres://<your Postgres username>:<your DB password>@127.0.0.1:5432/next-js-dashboard"
POSTGRES_USER="<your Postgres username>"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PASSWORD="<your DB password, leave as an empty double quoted string if none>"
POSTGRES_DATABASE="next-js-dashboard"

# `openssl rand -base64 32`
AUTH_SECRET= `60INEvmYmf8ubM4f/Z4N8MTX1Dxyux5Ze/7BQ6gjXQw=`
AUTH_URL=http://localhost:3000/api/auth